body {
  font-family: 'Inter', 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #262626;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

img, svg {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}